**/.settings
**/target
**/.idea
**/*.iml
**/*.swp
**/*.swo
**/*.log
**/.classpath
**/.project
**/*.out
**/error
**/.svn
**/.DS_Store
app/test/logs/*
app/test/${ctx:log_root}/*
**/${ctx:log_root}
${ctx:log_root}/*
*.ipr
*.iws